:root{
    /*THEME DARK COLORS VARIABLES*/
    --dk-primary-bg-color: #25293C;
    --dk-secondary-bg-color: #2E3247;
    --dk-primary-bt-color: #7367F0;
    --dk-primary-bt-color-hv: #5F58BF;
    --dk-secondary-bt-color: #393D53;
    --dk-secondary-bt-color-hv: #35394E;
    --dk-primary-font-color: #8A8D9F;
    --dk-primary-font-color-active: #FCFBFF;
    --dk-primary-shadow-box: rgba(12, 16, 27, 0.20);
}

*{
    margin: 0; padding: 0; outline: none; list-style: none;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: var(--dk-primary-bg-color);
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "left main";
    grid-template-columns: 260px 4fr;
    grid-template-rows: 100vh;
    transition: all 0.5s;
}

.sidenav{
    grid-area: left;
	box-shadow: 1px 0 3px 0 var(--dk-primary-shadow-box);
    background-color: var(--dk-secondary-bg-color);
}

.logo{
    margin: 24px;
    cursor: pointer;
}

.logo_rs{
    display: none;
}

.logo_rs img{
    width: 48px;
}

.nav{

}

.nav-active{
    margin: 0 15px 0 15px;
    height: 40px;
    border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 1px 3px 0 var(--dk-primary-shadow-box);
    background: linear-gradient(72.47deg, var(--dk-primary-bt-color), var(--dk-primary-bt-color-hv));
}

.nav-active:before{
	content: '\f201';
    font-family: 'Font Awesome 6 Free';
    font-size: 22px;
    font-weight: 900;
    padding: 8px 10px 0 10px;
    color: var(--dk-primary-font-color-active);
    float: left;
    margin-left: 5px;
    transition: all 1s;
}

.nav-active li {
    color: var(--dk-primary-font-color-active);
    font-weight: bold;
    padding: 9px;
}

.main{
    grid-area: main;
    padding: 16px 24px 0 24px;
    overflow-y: scroll;
}

.top{
    height: 64px;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 var(--dk-primary-shadow-box);
    background-color: var(--dk-secondary-bg-color);
}

@media only screen and (max-width: 768px){
    .container{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: "left main";
        grid-template-columns: 80px 4fr;
        grid-template-rows: 100vh;
        transition: all 0.5s linear;
    }
	
	.sidenav{
		padding: 24px 0 0 16px;
	}
	
	.logo{
		display: none;
	}
	
	.logo_rs{
		display: block;
		cursor: pointer;
	}
	
	.nav-active, .nav-active li{
		display: none;
	}
}